body{
  overflow-x: hidden;
  background-color: black;
  color: white;
}
.height{
  height: 100vh;
}
.box {
  transition: box-shadow .3s;
  
  height: 300px;
  margin:10px;
  border-radius:10px;
  border: 1px solid #222;
  background:#222;
  float: left;
  color:black;
  width:300px;
  max-width:300px;
  min-width: 250px;
  
}
.box:hover {
  box-shadow: 0 0 37px #FFECD1; 
  color:#FFECD1;

}
.box h3{
  color:white;
  text-align: center;
  margin-top: 22px;}
.box:hover h3{
  color:#FFECD1;
  text-align: center;
  margin-top: 22px;
}
.box ul{
  color: white;
  font-weight: bold;
  list-style: none;
  margin-top: 45px;
}
.box:hover ul{
  color:#FFECD1;
}
.skillhead{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 60px;
  margin-top: 80px;
  margin-bottom: 100px;
  text-transform: uppercase;
}



/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.linkk img{
  width: 29px;
  margin:auto;
  margin-top: 15px;
 
}
.img a{
  margin: auto;
  align-items: center;
  float: right;
}
footer{
  margin-top: 100px;
  height: 50px;
  
  
}
.foocolor{
  background-color: antiquewhite;
}
.contact{
  margin-top: 240px;
}
.contdiv{
  margin: auto;
  width:500px;
  
}
@media (width<500px) {
  .contdiv{
    width: 300px;
  }
  
}